@page "/profilecard"
@using HomeHive.UI.Components.ProfileComponents.EditProfile
@using HomeHive.UI.Components.Layout
@layout ProfileLayout

<div class="card min-vh-100">
    <div class="card-header">
        Edit Profile
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <EditProfileForm></EditProfileForm>
            </div>
            <div class="col-md-6">
                <ChangePasswordForm></ChangePasswordForm>
            </div>
        </div>
    </div>
</div>