@page "/lostpassword"
@using System.ComponentModel.DataAnnotations

<div class="main-content">
    <h1 class="title">Lost Your Password?</h1>
    <div class="login-container">
        <h3 class="text-center">Enter your email address</h3>
    
        <EditForm Model="@lostPasswordModel" class="mt-4" FormName="lostForm">
            <DataAnnotationsValidator />
    
            <div class="form-group">
                <label for="email">Email:</label>
                <InputText id="email" type="email" class="form-control" @bind-Value="lostPasswordModel.Email" />
                <ValidationMessage For="@(() => lostPasswordModel.Email)" />
            </div>
    
            <div class="center-text">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="center-text pass-link">
                            <a href="login">Remembered your password?</a>
                        </div>
        </EditForm>
    </div>
</div>

@code {
    private LostPasswordModel lostPasswordModel = new LostPasswordModel();

    public class LostPasswordModel
    {
        [Required(ErrorMessage = "Email is required.")]
        [EmailAddress(ErrorMessage = "Invalid email address.")]
        public string Email { get; set; }
    }
}
