@page "/add-estate"
@using HomeHive.UI.Components.Profile.AddEstate
@layout ProfileLayout

<div class="profile-card col d-flex flex-column h-sm-100">
    <div class="card-body">
        <div class="row">
            <AddEstateForm></AddEstateForm>
        </div>
    </div>
</div>