@page "/add-estate"
@using HomeHive.UI.Components.Profile.AddEstate
@layout ProfileLayout

<div class="profile-card min-vh-100">
    <div class="card-header">
        <h2>Add new Estate</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <AddEstateForm></AddEstateForm>
        </div>
    </div>
</div>