@page "/add-property"
@using HomeHive.UI.Components.Profile.AddProperty
@using Microsoft.AspNetCore.Authorization
@layout ProfileLayout
@attribute [Authorize(Roles = "Admin")]

<div class="card min-vh-100">
    <div class="card-header">
        Add Property
    </div>
    <div class="card-body">
        <div class="row">
            <AddPropertyForm></AddPropertyForm>
        </div>
    </div>
</div>