@page "/change-credentials"
@using HomeHive.UI.Components.Profile.EditCredentials
@using Microsoft.AspNetCore.Authorization
@layout ProfileLayout
@attribute [Authorize(Roles = "User, Admin")]

<div class="profile-card col d-flex flex-column h-sm-100">
    <div class="card-body">
        <div class="row">
            <SendToken></SendToken>
            <div class="col-md-6">
                <div class="mb-3">
                    <ChangeEmailForm></ChangeEmailForm>
                </div>
            </div>
         
            <div class="col-md-6">
                <div class="mb-3">
                    <ChangePasswordForm></ChangePasswordForm>
                </div>
            </div>
        </div>
    </div>
</div>
