@page "/change-email"
@using HomeHive.UI.Components.Profile.EditCredentials
@using Microsoft.AspNetCore.Authorization
@layout ProfileLayout
@attribute [Authorize(Roles = "User, Admin")]

<div class="profile-card col d-flex flex-column h-sm-100 min-vh-100">
    <div class="card-body">
        <div class="row">
            <SendToken Purpose="UpdateEmail"></SendToken>
            <div class="mb-3">
                <ChangeEmailForm></ChangeEmailForm>
            </div>
        </div>
    </div>
</div>
