@page "/edit-estate/{EstateId}"
@using HomeHive.UI.ViewModels.Estates
@using Microsoft.AspNetCore.Authorization
@using HomeHive.UI.Interfaces
@using HomeHive.UI.Components.Profile.EditEstate
@inject NavigationManager NavigationManager
@inject IEstateDataService EstateDataService
@inject ILogger<EditEstate> Logger
@layout ProfileLayout
@attribute [Authorize(Roles = "User, Admin")]


<div class="profile-card col d-flex flex-column h-sm-100 min-vh-100">
    <div class="card-body">
        <div class="row">
            <div class="mb-3">
                @if (_isLoading)
                {
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <p class="fs-3 mb-0">Edit Estate</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="fw-bold" style="display:flex; gap:10px; justify-content:center; align-items:center">
                        <div class="spinner-border" role="status"></div>
                        Loading...
                    </div>
                }
                else
                {
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <p class="fs-3 mb-0">Edit Estate</p>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" @onclick="Cancel">Cancel Edit</button>
                        </div>
                    </div>
                    <hr/>
                    <div class="row justify-content-center align-items-start gap-4 gap-lg-0">
                        <div class="col-lg-6">
                            <EditEstateAvatarForm></EditEstateAvatarForm>
                        </div>
                        <div class="col-lg-6">
                            <div class="max-w-md mx-auto">
                                <div class="d-flex gap-2 flex-column">
                                    <p class="fs-5 fw-bold text-center text-lg-start">Remove your estate from HomeHive</p>
                                    <p class="text-center text-lg-start">Deleting your estate is irreversible. We will remove your estate from the website and it will
                                        no longer be visible to other users.</p>
                                    <button class="btn btn-danger align-self-center align-self-lg-start">Delete estate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <Carousel></Carousel>
                    <AddEstateImagesForm></AddEstateImagesForm>
                    <EditEstateForm Estate="@Estate"></EditEstateForm>
                }
            </div>
        </div>
    </div>
</div>


@code{
    [Parameter] public string? EstateId { get; set; }

    private EstateViewModel? Estate { get; set; }

    private bool _isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        var result = await EstateDataService.GetById(Guid.Parse(EstateId!));

        if (result is { IsSuccess: true })
        {
            var e = result.Estate!;

            Estate = new EstateViewModel
            {
                Id = e.Id.ToString(),
                EstateType = e.EstateType,
                EstateCategory = e.EstateCategory,
                Name = e.Name,
                Location = e.Location,
                Price = e.Price,
                TotalArea = e.TotalArea,
                Utilities = e.Utilities!,
                Rooms = e.EstateRooms,
                Description = e.Description
            };

            Logger.LogInformation("Estate loaded successfully");
            _isLoading = false;
        }
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/listed-estates");
    }

}