@page "/profile"
@using HomeHive.UI.Components.Profile.EditProfile
@using Microsoft.AspNetCore.Authorization
@layout ProfileLayout
@attribute [Authorize(Roles = "User, Admin")]

<div class="profile-card col d-flex flex-column h-sm-100 min-vh-100">
    <div class="card-body">
        <p class="fs-3">Edit Profile</p>
        <hr/>
        <div class="row">
            <EditProfileImageForm></EditProfileImageForm>
            <hr/>
            <EditProfileForm></EditProfileForm>
        </div>
    </div>
</div>