@page "/profile"
@using HomeHive.UI.Components.Profile.EditProfile
@using Microsoft.AspNetCore.Authorization
@layout ProfileLayout
@attribute [Authorize(Roles = "User, Admin")]

<div class="profile-card col d-flex flex-column h-sm-100">
    <div class="card-header">
        <h2>Edit Profile</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <EditProfileForm></EditProfileForm>
            </div>
            <div class="col-md-6">
                <ChangePasswordForm></ChangePasswordForm>
            </div>
        </div>
    </div>
</div>