@page "/profile"
@using HomeHive.UI.Components.Profile.EditProfile
@using Microsoft.AspNetCore.Authorization
@layout ProfileLayout
@attribute [Authorize(Roles = "User, Admin")]

<div class="profile-card col d-flex flex-column h-sm-100">
    <div class="card-body">
        <div class="row">
            <EditProfileForm></EditProfileForm>
        </div>
    </div>
</div>