@page "/edit-estate/{EstateId}"
@using HomeHive.UI.ViewModels.Estates
@using Microsoft.AspNetCore.Authorization
@using HomeHive.UI.Interfaces
@using HomeHive.UI.Components.Profile.EditEstate
@inject NavigationManager NavigationManager
@inject IEstateDataService EstateDataService
@inject ILogger<EditEstate> Logger
@layout ProfileLayout
@attribute [Authorize(Roles = "User, Admin")]


<div class="profile-card col d-flex flex-column h-sm-100 min-vh-100">
    <div class="card-body">
        <div class="row">
            <div class="mb-3">
                @if (_isLoading)
                {
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <p class="fs-3 mb-0">Edit Estate</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="fw-bold" style="display:flex; gap:10px; justify-content:center; align-items:center">
                        <div class="spinner-border" role="status"></div>
                        Loading...
                    </div>
                }
                else
                {
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <p class="fs-3 mb-0">Edit Estate</p>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" @onclick="Cancel">Cancel Edit</button>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-6">
                            <EditEstateAvatarForm></EditEstateAvatarForm>
                        </div>
                        <div class="col-md-6">
                            <p>Nom Prenom va fi</p>
                            <p>poate alte detalii</p>
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-column">
                                    <small class="@statusClass">@statusText</small>
                                    <button class="btn btn-primary" @onclick="ToggleVisibility">@buttonText</button>
                                </div>
                                <div class="d-flex flex-column">
                                    <small>Deleting your estate is irreversible.</small>
                                    <button class="btn btn-danger">Delete estate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <Carousel></Carousel>
                    <AddEstateImagesForm></AddEstateImagesForm>
                    <EditEstateForm Estate="@Estate"></EditEstateForm>
                }
            </div>
        </div>
    </div>
</div>


@code{
    private bool isOnline = true;
    private string buttonText = "Make Offline";
    private string statusText = "Your estate is up on our platform.";
    private string statusClass = "online";

    void ToggleVisibility()
    {
        isOnline = !isOnline;

        if (isOnline)
        {
            buttonText = "Make Offline";
            statusText = "Your estate is up on our platform.";
            statusClass = "online";
        }
        else
        {
            buttonText = "Make Online";
            statusText = "Your estate is offline.";
            statusClass = "offline";
        }
    }
    
    [Parameter] public string? EstateId { get; set; }

    private EstateViewModel? Estate { get; set; }

    private bool _isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        var result = await EstateDataService.GetById(Guid.Parse(EstateId!));

        if (result is { IsSuccess: true })
        {
            var e = result.Estate!;

            Estate = new EstateViewModel
            {
                Id = e.Id.ToString(),
                EstateType = e.EstateType,
                EstateCategory = e.EstateCategory,
                Name = e.Name,
                Location = e.Location,
                Price = e.Price,
                TotalArea = e.TotalArea,
                Utilities = e.Utilities!,
                Rooms = e.EstateRooms,
                Description = e.Description
            };

            Logger.LogInformation("Estate loaded successfully");
            _isLoading = false;
        }
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/listed-estates");
    }

}