@page "/profile"
@using HomeHive.UI.Components.Profile.EditProfile
@layout ProfileLayout

<div class="profile-card min-vh-100">
    <div class="card-header">
        <h2>Edit Profile</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <EditProfileForm></EditProfileForm>
            </div>
            <div class="col-md-6">
                <ChangePasswordForm></ChangePasswordForm>
            </div>
        </div>
    </div>
</div>