@using HomeHive.UI.ViewModels.Estates
@inject NavigationManager NavigationManager

@* @if (Estate != null) *@
@* { *@
    <div class="card col-md-3 m-md-3 mb-sm-3">
        <img class="card-img-top" src="@Estate!.EstateAvatar" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Estate!.Name</h5>
            <p class="card-text">@Estate.Location</p>
            <div class="d-flex justify-content-center gap-1">
                <button class="btn btn-primary" @onclick="EditEstate">Edit estate</button>
                <button class="btn btn-primary">View estate</button>
            </div>
        </div>
    </div>
@* } *@

@code {
    [Parameter] public EstateViewModel? Estate { get; set; }
    
    private void EditEstate()
    {
        NavigationManager.NavigateTo($"/edit-estate/{Estate!.Id}");
    }
}
