@using HomeHive.UI.ViewModels.Estates
@inject NavigationManager NavigationManager

@if (Estate != null)
{
    <div class="card col-md-3 m-md-3 mb-2">
        <div style="
            width: 100%;
            height: 200px;
            background-image: url('@Estate!.EstateAvatar');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;"
            class="card-img-top mt-2 rounded">
        </div>
        <div class="card-body">
            <h5 class="card-title">@Estate!.Name</h5>
            
            <div class="row">
                <div class="d-flex justify-content-start align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    <span class="ms-2 d-inline" style="font-weight:bold">Location:</span>
                    @Estate.Location
                </div>
            </div>
            <div class="mt-2 d-flex justify-content-center gap-1">
                <button class="btn btn-primary" @onclick="EditEstate">Edit estate</button>
                <NavLink href="viewEstate" class="btn btn-primary">View estate</NavLink>
            </div>
        </div>
    </div>

}

@code {
    [Parameter] public EstateViewModel? Estate { get; set; }
    
    private void EditEstate()
    {
        NavigationManager.NavigateTo($"/edit-estate/{Estate!.Id}");
    }
}
