<EditForm Model="@userProfile" OnValidSubmit="@HandleValidSubmit" FormName="editProfileForm">
    <div class="d-flex justify-content-center">
        <img src="background1.jpg" class="rounded-circle me-3" width="256" height="256" alt="profile" style="border: 2px solid #ddd; border-radius: 4px; padding: 5px;"/>
    </div>
    <div class="mb-3">
        <label for="profileImage" class="form-label">Profile Image</label>
        <InputFile class="form-control" id="profileImage"/>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mb-3">Change Profile Image</button>
    </div>

</EditForm>

@code {
    private UserProfile userProfile = new();

    public class UserProfile
    {
        public string Username { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public string PhoneNumber { get; set; }
    }


    private void HandleValidSubmit()
    {
        throw new NotImplementedException();
    }

}