@page "/listed-properties"
@using HomeHive.UI.Components.Layout
@layout ProfileLayout

<div class="card min-vh-100">
    <div class="card-header">
        Listed Properties
    </div>
    <div class="card-body">
        <div class="row">
            <PropertyCard></PropertyCard>
            <PropertyCard></PropertyCard>
            <PropertyCard></PropertyCard>
            <PropertyCard></PropertyCard>
            <PropertyCard></PropertyCard>
        </div>
    </div>
</div>