<div class="card col-md-3 m-md-3 mb-sm-3" >
    <img class="card-img-top" src="background1.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Property #</h5>
        <p class="card-text">Name of property</p>
        <a href="#" class="btn btn-primary">Edit estate</a>
    </div>
</div>