@page "/aboutus"
@using HomeHive.UI.Components.General

@* <Navbar/> *@
<section class="about-area about-one min-vh-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-title text-center">
                    <h1 class="my-5 display-5 fw-bold ls-tight" style="color: #F0A500">
                        HomeHive<span style="color: #1A1C20">.AboutUs</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="single-about-items h-100 d-flex flex-column align-items-center justify-content-center">
                    <div class="items-content text-center">
                        <h4 class="items-title">Our mission</h4>
                        <p class="text">
                            Our mission is to connect travelers with a diverse range of comfortable and unique accommodations,
                            ensuring that every journey is as memorable as the destination itself. We understand that every traveler is different,
                            and that's why HomeHive offers a curated selection of homes, apartments, hotels, and more.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="single-about-items h-100 d-flex flex-column align-items-center justify-content-center">
                    <div class="items-content text-center">
                        <h4 class="items-title">What Sets Us Apart</h4>
                        <p class="text">
                            User-Friendly Platform: Navigate our intuitive platform with ease. Find, book, and manage your stays effortlessly.
                            24/7 Support: Our dedicated support team is available around the clock to assist you. Your comfort and peace of mind are our top priorities.
                            Local Insights: Discover hidden gems and local favorites with our curated guides and recommendations. Immerse yourself in the authentic experiences each destination has to offer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="single-about-items h-100 d-flex flex-column align-items-center justify-content-center">
                    <div class="items-content text-center">
                        <h4 class="items-title">Your Trust, Our Priority</h4>
                        <p class="text">
                            Trust is the foundation of our relationship with you. We prioritize transparency, security, and reliability in everything we do. Rest assured, your trust in HomeHive is well-placed.
                            Become a part of our growing community of travelers who value quality, authenticity, and seamless experiences. Share your travel stories, tips, and recommendations with fellow HomeHive enthusiasts.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<Footer></Footer>
