<div class="card col-md-3 m-md-3 mb-sm-3">
    <div class="card-body">
        <h5 class="card-title">Contract #</h5>
        <p class="card-text">Sold Estate</p>
        <p class="card-text">12.12.12</p>
        <div class="d-flex justify-content-center gap-1">
            <NavLink href="#" class="btn btn-primary">Edit contract</NavLink>
            <NavLink href="#" class="btn btn-primary">Download contract</NavLink>
        </div>
    </div>
</div>

