@using HomeHive.UI.ViewModels
@using HomeHive.UI.Interfaces
@using HomeHive.UI.Pages.Profile
@using Microsoft.AspNetCore.Authorization
@layout ProfileLayout
@attribute [Authorize(Roles = "User, Admin")]
@inject IContractDataService ContractDataService
@inject ILogger<Contracts> Logger


<p class="fs-3">Signed Contracts</p>
<hr/>
<div class="row">
    @if (ContractsList?.Count > 0)
    {
        @foreach (var contract in ContractsList)
        {
            <AcceptedContractCard Contract="@contract"></AcceptedContractCard>
        }
    }
    else
    {
        <div class="col-12">
            <p class="text-center">You have no signed contracts.</p>
        </div>
    }
</div>

@code {
    private IReadOnlyList<ContractViewModel>? ContractsList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await ContractDataService.GetAllContractsByUserId();

        if (result is { IsSuccess: true })
        {
            Logger.LogInformation("Contracts retrieved successfully.");
            ContractsList = result.Contracts?
                .Where(c => c.ContractType == "Signed")
                .Select(c => new ContractViewModel
                {
                    EstateId = c.EstateId,
                    ContractType = c.ContractType?.ToString(),
                    Status = c.Status?.ToString(),
                    Price = c.Price,
                    StartDate = c.StartDate,
                    EndDate = c.EndDate,
                    Description = c.Description
                }).ToList();
        }
        else
        {
            Logger.LogError("Failed to retrieve contracts.");
        }
    }
}
