@page "/all-estates"
@using HomeHive.UI.Components.General
<PageTitle>Estates</PageTitle>

<Navbar></Navbar>
<section class="about-one min-vh-100 p-0">
    <SearchBar></SearchBar>
    <div class="row justify-content-center m-3 m-md-0">
        <EstateCard></EstateCard>
        <EstateCard></EstateCard>
        <EstateCard></EstateCard>
        <EstateCard></EstateCard>
        <EstateCard></EstateCard>
        <EstateCard></EstateCard>
        <EstateCard></EstateCard>
        <EstateCard></EstateCard>
        <EstateCard></EstateCard>
        <EstateCard></EstateCard>
        <EstateCard></EstateCard>
        <EstateCard></EstateCard>
    </div>
</section>
<Footer></Footer>