@page "/home"
@using HomeHive.UI.Components.General
<PageTitle>Home</PageTitle>

<Navbar></Navbar>
<section class=" min-vh-100">
    <SearchBar></SearchBar>
    
    <div class="container align-items-center">
        <div class="row justify-content-center">
            <EstateCard></EstateCard>
            <EstateCard></EstateCard>
            <EstateCard></EstateCard>
            <EstateCard></EstateCard>
            <EstateCard></EstateCard>
            <EstateCard></EstateCard>
            <EstateCard></EstateCard>
        </div>
        @* <Pagination></Pagination> *@
    </div>
</section>
<Footer></Footer>