@page "/reset-password"
@using HomeHive.UI.Components.General
@using System.ComponentModel.DataAnnotations

<PageTitle> Reset Password </PageTitle>

<section class="overflow-hidden d-flex align-items-center justify-content-center min-vh-100">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: #F0A500">
                    HomeHive <br/>
                    <span style="color: #1A1C20">for the perfect nest.</span>
                </h1>
                <p class="mb-4 opacity-70" style="color: #1A1C20">
                    Oh no! You lost your password?<br/>
                    Haven't received an email? Try again <NavLink href="reset-link">here</NavLink>.
                </p>
            </div>

            <div class="col-lg-6 mb-lg-0">
                <div class="card">
                    <div class="card-body px-4 py-5 px-md-5">
                        <EditForm Model="@resetPasswordModel" OnValidSubmit="HandleResetPasswordSubmit" FormName="resetPasswordForm">
                            <DataAnnotationsValidator/>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="token">Token</label>
                                <input type="text" id="token" class="form-control" placeholder=""/>
                                <small id="tokenExplanation" class="form-text text-muted">
                                    The token is a unique code sent to your email for security verification.
                                    Please enter the token to proceed with the password reset.
                                </small>
                                <br/>
                                <label class="form-label" for="new-password">New Password</label>
                                <input type="text" id="new-password" class="form-control" placeholder=""/>
                                <label class="form-label" for="confirm-new-password">New Password</label>
                                <input type="text" id="confirm-new-password" class="form-control" placeholder=""/>
                            </div>

                            <div class="d-flex justify-content-center mb-4">
                                <button type="submit" class="btn btn-primary btn-lg">
                                    Reset password
                                </button>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<Footer></Footer>

@code {
    private readonly ResetPasswordModel resetPasswordModel = new();

    public class ResetPasswordModel
    {
        [Required(ErrorMessage = "Email is required.")]
        public string Email { get; set; }
    }

    private void HandleResetPasswordSubmit()
    {
    }

}