<div class="card m-3">
    <div class="row card-body justify-content-center text-center">
        <h3 class="fw-bold mb-4">Buy your dream <span class="fst-italic">nest</span> now.</h3>
        <div class="col-6 justify-content-center">
            <EditForm Model="@buyModel" OnValidSubmit="@HandleValidSubmit" FormName="buyForm">
                <DataAnnotationsValidator/>
            
                <div class="form-outline mb-2">
                    <label class="form-label" for="buy-description">Tell something to the owner</label>
                    <InputTextArea id="buy-description" class="form-control" @bind-Value="@buyModel.Description"/>
                </div>
            
                <div class="form-outline mb-2">
                    <label class="form-label" for="buy-price">Your Price</label>
                    @* min should be starting price *@
                    <InputNumber min="0" id="buy-price" class="form-control" @bind-Value="@buyModel.Price"/>
                </div>
            
            <div class="d-flex justify-content-center my-4">
                <button type="submit" class="btn btn-primary btn-lg">
                    Make Offer
                </button>
            </div>
            </EditForm>
        </div>
    </div>
</div>


@code {
    public class BuyModel
    {
        public string Description { get; set; }
        public decimal Price { get; set; }
    }

    BuyModel buyModel = new BuyModel();

    private void HandleValidSubmit()
    {
        // Handle form submission here
    }
}
