<div class="card m-3">
    <div class="row card-body justify-content-center text-center">
        <h3 class="fw-bold mb-4">Rent your dream <span class="fst-italic">nest</span> now.</h3>
        <div class="col-6 justify-content-center">
            <EditForm Model="@rentModel" OnValidSubmit="@HandleValidSubmit" FormName="rentForm">
                <DataAnnotationsValidator/>
            
                <div class="form-outline mb-2">
                    <label class="form-label" for="rent-start-date">Start Date</label>
                    <InputDate id="rent-start-date" class="form-control" @bind-Value="@rentModel.StartDate"/>
                </div>
            
                <div class="form-outline mb-2">
                    <label class="form-label" for="rent-end-date">End Date</label>
                    <InputDate id="rent-end-date" class="form-control" @bind-Value="@rentModel.EndDate"/>
                </div>
            
            <div class="d-flex justify-content-center my-4">
                <button type="submit" class="btn btn-primary btn-lg">
                    Rent
                </button>
            </div>
            </EditForm>
        </div>
    </div>
</div>


@code {
    public class RentModel
    {
        public DateTime StartDate { get; set; }
        public DateTime EndDate { get; set; }
    }

    RentModel rentModel = new RentModel();

    private void HandleValidSubmit()
    {
        // Handle form submission here
    }
}
