<div class="card col-md-3 m-md-3 mb-sm-3" >
    <img class="card-img-top" src="background1.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Property #</h5>
        <p class="card-text">For Rent</p>
        <p class="card-text"><span style="font-weight:bold">Location:</span></p>
        <p class="card-text"><span style="font-weight: bold">Price:</span>100$/night</p>
        <a href="#" class="btn btn-primary">See Details</a>
    </div>
</div>