<div class="card col-md-3 m-3">
    <img class="card-img-top img-fluid rounded mt-2" src="background1.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Property #</h5>
        <p class="card-text">For Rent</p>
        <p class="card-text">
            <span style="font-weight:bold">Location:</span>
        </p>
        <p class="card-text"><span style="font-weight: bold">Price:</span>100$/night</p>
        <p class="card-text"><span style="font-weight: bold">Description:</span>A very nice home</p>
        <div class="d-flex justify-content-center">
            <NavLink href="#" class="btn btn-primary">See Details</NavLink>
        </div>
    </div>
</div>