 <div class="mb-5">
        <div class="row justify-content-center m-3">
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="single-about-items h-100 d-flex flex-column align-items-center justify-content-center">
                    <img src="house1.jpg" alt="For Rent Image"  class="mb-3 img-fluid rounded" width="400" height="200">
                    <div class="items-content text-center">
                        <h4 class="items-title">For Rent</h4>
                        <p class="text">
                            Explore our curated collection of rental properties tailored to suit your lifestyle.
                            Whether you're searching for a cozy apartment, a spacious house, or a trendy loft, our
                            listings offer a diverse range of options. Find the perfect place to call home with ease and convenience.
                            Browse now and discover your next living space!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="single-about-items h-100 d-flex flex-column align-items-center justify-content-center">
                    <img src="house2.jpg" alt="For Sale Image"  class="mb-3 img-fluid rounded" width="400" height="200">
                    <div class="items-content text-center">
                        <h4 class="items-title">For Sale</h4>
                        <p class="text">
                            Dive into the world of real estate opportunities with our listings.
                            From charming starter homes to luxurious estates, our collection showcases a variety of properties to meet every taste and preference.
                            Explore the details, envision your future, and make a smart investment. Your dream home may be just a click away. Start your journey to homeownership now!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="single-about-items h-100 d-flex flex-column align-items-center justify-content-center">
                    <img src="house3.jpg" alt="List Your Estate Image"  class="mb-3 img-fluid rounded" width="400" height="200">
                    <div class="items-content text-center">
                        <h4 class="items-title">List your estate</h4>
                        <p class="text">
                            Ready to take the next step in your real estate journey?
                            List your property with us and unlock a world of potential buyers.
                            Showcase your home to a wide audience, backed by our comprehensive marketing strategies.
                            Our user-friendly platform makes it simple to highlight your property's unique features and attract the right buyers.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>