<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <img src="HomeHive.png" width="64" height="64" alt="logo"/>
        <span class="fs-4 mx-lg-2">HomeHive</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <NavLink href="/home" class="nav-link" aria-current="page">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#home"/>
                </svg>
                Home
            </NavLink>
        </li>
        <li>
            <NavLink href="profilecard" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"/>
                </svg>
                Edit Profile
            </NavLink>
        </li>
        <li>
            <NavLink href="listed-estates" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#table"/>
                </svg>
                Listed estates
            </NavLink>
        </li>
        <li>
            <NavLink href="add-estate" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#grid"/>
                </svg>
                Add new estate
            </NavLink>
        </li>
        <hr>
        <li>
            <NavLink href="login" class="nav-link link-dark">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#grid"/>
                </svg>
                Logout
            </NavLink>
        </li>
    </ul>
</div>