<div class="container mt-4">
   <form class="row justify-content-center mx-auto text-center">
       <div class="input-group">
           <input class="form-control form-control-lg me-2 rounded-3 py-2" type="search" placeholder="Search for the perfect nest" aria-label="Search">
           <div class="input-group-append">
               <button class="btn btn-outline-success btn-lg" type="submit">Search <i class="fas fa-search" aria-hidden="true"></i></button>
           </div>
       </div>
   </form> 
</div>




