<div class="container about-one p-0" id="search-form">
    <form class="d-flex flex-column flex-md-row align-items-center mt-3 justify-content-center single-about-items">
        <div class="form-group">
            <input type="text" class="form-control" id="search" placeholder="What are you looking for?">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="city" placeholder="City">
        </div>
        <div class="form-group">
            <input type="number" min="1" class="form-control" id="people" placeholder="Number of People">
        </div>
        <div class="form-group">
            <select class="form-control" >
                <option value="Rent">For Rent</option>
                <option value="Sale">For Sale</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
